/* typography */
.container {
  color:black;
}

p.bigger {
  font-size: 1.79em;
}


.footer {
  font-weight: bold !important;
}

footer {
  text-transform: uppercase;
  font-size: 0.93em;
  img {
    margin-top: -5px;
  }
  .container, a {
    color: #95A8B2;
  }
  .row>div {
    margin-bottom: 1em;
  }
}

/* other */

.navbar {
  &.navbar-transparent {
    color:black;
  }
  background: rgba(255,255,255,0.92);
}

.sidebar-collapse .navbar .navbar-toggler-bar {
  background: #999;
}


.page-header {
  // height: 88vh;
}

.section {
  // padding-left: 20px;
  // padding-right: 20px;
}

.section-text {
  h2 {
    margin-bottom: 1em;
  }
  margin-top: 10em;
  .row {
    margin-bottom: 4em;
  }
}

.section-about-us {
  height: 75vh;
  margin-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  h1 {
    font-size: 5em;
  }
  h4 {
      font-size: 2.85em;
      color: black;
      font-weight: normal;
  }
}

@media (max-width: 767px) {
  .section-about-us {
    h1 {
      font-size: 3.4em;
    }
    h4 {
      font-size: 1.6em;
    }
  }
  p.bigger {
    font-size: 1.6em;
  }
  .section-contact-us {
    h1, a {
      font-size: 2em !important;
    }
  }
}

.section-coming-soon {
  min-height: 30vh;
  padding-top: 100px !important;
  padding-bottom: 0;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
}

.section-contact-us {
  margin-top: 6em;
  margin-bottom: 6em;
  h1, a {
    font-size: 4.57em;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.gallery {
  padding:0;
}

#highfive {
  text-align: left;
  h2 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  h2, h4 {
    color:white;
  }
  .mainimage {
    max-width: 600px;
    max-width: 100%;
  }
  .row:first-of-type {
    padding-top: 25%;
  }
  .row:nth-of-type(2) {
    margin-top: -110px;
  }
}

#onn {
  .content {
    h1 {
      margin-bottom: .1em;
    }
  }
}

#bellhop {
  overflow: hidden;
  color:black;
  .mainimage {
    margin-left: -32px;
    height:487px;
    max-width: none;
  }
  .row:first-of-type {
    padding-top: 25%;
    padding-bottom: 75px;
  }
  .row:nth-of-type(2) {

  }
  .row:nth-of-type(3) {
    margin-top: 40px;
  }
}

.section-testimonial {
  &+.section-testimonial {
    // padding-top: 0;
  }
  .text {
    // align-self: center;
    color:#666;
    padding: 0;
  }
  img {
    max-width: 15vh;
    margin: 20px;
  }
  h5 {
    // display: block;
    font-weight: 300;
    &.testimonial-text {
      // padding: 20px;
    }
    strong {
      font-weight: 500;
      color:#333;
    }
  }
  .meta {
    // align-self: center;
    * {
      margin-bottom: 0;
    }
  }
}

.section-team {
  h2 {
    margin-top: 10vh;
    margin-bottom: 12vh;
  }
  .team-player {
    margin-bottom: 80px;
    padding: 0 20px;
    p.description {
      text-align: justify;
    }
    img {
      max-width: 150px;
    }
  }
}
