/* typography */

h1 {
  font-size: 12vw;
}

h3 {
  font-size: 5vw;
}

@media screen and (max-width: 575px) {
  h1 {
     font-size: 50px;
  }
  h3 {
    font-size: 26px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
     font-size: 100px;
  }
  h3 {
    font-size: 40px;
  }
}

/* other */

.navbar {
  &.navbar-transparent {
    color:black;
  }
  background: rgba(255,255,255,0.92);
}

.sidebar-collapse .navbar .navbar-toggler-bar {
  background: #999;
}


.page-header {
  height: 88vh;
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}

.section-about-us {
  height: 80vh;
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  h3 {
      color: black;
      font-weight: normal;
  }
}

.section-coming-soon {
  min-height: 30vh;
  padding-top: 100px !important;
  padding-bottom: 0;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
}

.gallery {
  padding:0;
}

#highfive {
  .content {
    text-align: left;
    position: absolute;
    top: 13%;
    left: 10%;
    padding-right: 20%;
    h1 {
      margin-bottom: .1em;
    }
  }
}

#onn {
  .content {
    text-align: left;
    position: absolute;
    bottom: 20%;
    left: 10%;
    padding-right: 20%;
    h1 {
      margin-bottom: .1em;
    }
  }
}

.section-testimonial {
  &+.section-testimonial {
    // padding-top: 0;
  }
  .text {
    // align-self: center;
    color:#666;
    padding: 0;
  }
  img {
    max-width: 15vh;
    margin: 20px;
  }
  h5 {
    // display: block;
    font-weight: 300;
    &.testimonial-text {
      // padding: 20px;
    }
    strong {
      font-weight: 500;
      color:#333;
    }
  }
  .meta {
    // align-self: center;
    * {
      margin-bottom: 0;
    }
  }
}

.section-team {
  h2 {
    margin-top: 10vh;
    margin-bottom: 12vh;
  }
  .team-player {
    margin-bottom: 80px;
    padding: 0 20px;
    p.description {
      text-align: justify;
    }
    img {
      max-width: 150px;
    }
  }
}
