#onn .page-header-image {
  background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/576x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1300x/-/crop/750x700/40,80/") 2x); }

#highfive .page-header-image {
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 37%, white 90%), linear-gradient(-184deg, #6573E6 3%, #C9D0FE 80%, #FFFFFF 85%); }

#bellhop {
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 41%, #FFFFFF 100%), linear-gradient(-125deg, #EDF2F2 0%, #FFFFFF 100%); }

#onn {
  background: linear-gradient(#8c97b3, #c6d8e9); }

@media (min-width: 576px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/768x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1536x/") 2x); } }

@media (min-width: 768px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/992x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1984x/") 2x); } }

@media (min-width: 992px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/1200x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/2400x/") 2x); } }

@media (min-width: 1200px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/1440x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/2880x/") 2x); } }

@media (min-width: 1920px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/2560x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/5120x/") 2x); } }
