#onn .page-header-image {
  background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/576x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1300x/-/crop/750x700/40,80/") 2x); }

#highfive .page-header-image {
  background-image: -webkit-image-set(url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/576x/") 1x, url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1400x/-/crop/1152x700/0,0/") 2x); }

@media (min-width: 576px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/768x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1536x/") 2x); }
  #highfive .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/768x/") 1x, url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1536x/") 2x); } }

@media (min-width: 768px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/992x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1984x/") 2x); }
  #highfive .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/992x/") 1x, url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/1984x/") 2x); } }

@media (min-width: 992px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/1200x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/2400x/") 2x); }
  #highfive .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/1200x/") 1x, url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/2400x/") 2x); } }

@media (min-width: 1200px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/1440x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/2880x/") 2x); }
  #highfive .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/1440x/") 1x, url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/2880x/") 2x); } }

@media (min-width: 1920px) {
  #onn .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/2560x/") 1x, url("https://ucarecdn.com/9f5b861f-b2cf-429b-bf22-6ec48f8ccd28/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/5120x/") 2x); }
  #highfive .page-header-image {
    background-image: -webkit-image-set(url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/normal/-/progressive/yes/-/resize/2560x/") 1x, url("https://ucarecdn.com/1d3943f7-db51-42e9-9937-8299b25b0895/-/format/jpeg/-/quality/lighter/-/progressive/yes/-/resize/5120x/") 2x); } }
