.navbar {
  background: rgba(255, 255, 255, 0.92); }
  .navbar.navbar-transparent {
    color: black; }

.sidebar-collapse .navbar .navbar-toggler-bar {
  background: #999; }

.page-header {
  height: 88vh; }

.section {
  padding-left: 20px;
  padding-right: 20px; }

.section-about-us {
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

#highfive .content {
  text-align: left;
  position: absolute;
  top: 13%;
  left: 10%;
  padding-right: 20%; }
  #highfive .content h1 {
    margin-bottom: .1em; }

#onn .content {
  text-align: left;
  position: absolute;
  bottom: 20%;
  left: 10%;
  padding-right: 20%; }
  #onn .content h1 {
    margin-bottom: .1em; }

.section-testimonial .text {
  color: #666;
  padding: 0; }

.section-testimonial img {
  max-width: 15vh;
  margin: 20px; }

.section-testimonial h5 {
  font-weight: 300; }
  .section-testimonial h5 strong {
    font-weight: 500;
    color: #333; }

.section-testimonial .meta * {
  margin-bottom: 0; }

.section-team h2 {
  margin-top: 10vh;
  margin-bottom: 12vh; }

.section-team .team-player {
  margin-bottom: 80px;
  padding: 0 20px; }
  .section-team .team-player p.description {
    text-align: justify; }
  .section-team .team-player img {
    max-width: 150px; }
