{% extends "./partials/layout.html" %}

{% block content %}

  <div id="about" class="section section-text">
    <div class="container">
        <div class="row justify-content-center intro">
          <div class="col-md-10 ml">
            <h1>About Us</h1>
            <p class="bigger">We create new awesome interactive digital products. Understanding the market & problem, come up with sensible solution, wireframes and interactive prototypes, branding & design, mobile & web development. We make apps that are beautiful and easy to use.</p>
          </div>
        </div>

        {# <div class="row">
          <div class="col-md-5">
            <img class="rounded-circle float-left avatar" src="/img/appca/avatars/josh2.jpg" alt="">
            <h4>Josh Carter</h4>
            <h5>Team lead US</h5>
            <a href="http://www.linkedin.com/in/joshuajcarter" class="social-link"><i class="fa fa-linkedin"></i></a>
            <a href="https://angel.co/josh-carter" class="social-link"><i class="fa fa-angellist"></i></a>
          </div>
          <div class="col-md-7">
            <p class="bigger">Josh is a Navy Vet with a steadfast mission of building tools and companies that make products and solutions more efficient. Resourceful and tech driven individual with many years of working to drive projects to completion. Visionary leader who makes teams better through discipled and pragmatic approach.</p>
          </div>
        </div> #}

        <div class="row">
          <div class="col-md-5">
            <img class="rounded-circle float-left avatar" src="/img/appca/avatars/josef.jpg" alt="">
            <h4>Josef Richter</h4>
            <h5>Team lead EU</h5>
            <a href="https://www.linkedin.com/in/josefrichter/" class="social-link"><i class="fa fa-linkedin"></i></a>
            <a href="https://angel.co/josefrichter" class="social-link"><i class="fa fa-angellist"></i></a>
          </div>
          <div class="col-md-7">
            <p class="bigger">Josef is a seasoned Project Manager and senior UX/UI designer. He has been doing mainly iPhone apps projects for over the past 8 years for clients in Silicon Valley, NYC and all over the Western Europe. Having gone through YCombinator, Josef loves making simple, easy to use and great looking apps.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img class="rounded-circle float-left avatar" src="/img/appca/avatars/tom.jpg" alt="">
            <h4>Tom Junker</h4>
            <h5>Art Director</h5>
            <a href="https://www.linkedin.com/in/tom-junker-4451b047/" class="social-link"><i class="fa fa-linkedin"></i></a>
            <a href="https://angel.co/pauser" class="social-link"><i class="fa fa-angellist"></i></a>
          </div>
          <div class="col-md-7">
            <p class="bigger">Tom is an experienced UI designer and illustrator and a internationally renowed graffiti artist. He’s been leading design teams on wide variety of projects, small and big. He spent time on projects in Boston and in Canada and worked with many companies all around the world.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img class="rounded-circle float-left avatar" src="/img/appca/avatars/peter.jpg" alt="">
            <h4>Peter Stajger</h4>
            <h5>CTO</h5>
            <a href="https://www.linkedin.com/in/peter-stajger-a309218b/" class="social-link"><i class="fa fa-linkedin"></i></a>
            <a href="https://angel.co/peter-stajger" class="social-link"><i class="fa fa-angellist"></i></a>
          </div>
          <div class="col-md-7">
            <p class="bigger">Peter is a senior iPhone apps developer, while being a great design talent at the same time, which is a very rare combination. That’s why he’s obsessed with pixel-perfect and visually stunning applications. He also spent time honing his craft on several projects in Silicon Valley. He is also a leader and an organizer of his homecountry’s iOS community.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img class="rounded-circle float-left avatar" src="/img/appca/avatars/stefan.jpg" alt="">
            <h4>Stefan Luptak</h4>
            <h5>Lead developer</h5>
            <a href="https://www.linkedin.com/in/eskimag/" class="social-link"><i class="fa fa-linkedin"></i></a>
            <a href="https://angel.co/stefan-luptak" class="social-link"><i class="fa fa-angellist"></i></a>
          </div>
          <div class="col-md-7">
            <p class="bigger">Stefan is a developer with almost 2 decades of experience in numerous technologies, focusing on mobile apps in the last couple of years. He has been working on huge projects with over 200 millions of users. At the same time, given his vast experience, he’s able to move fast and be very efficient on smaller scale projects. He also gives back to community by teaching iOS development.</p>
          </div>
        </div>


    </div>
  </div>

  {% include "./partials/_workwithus.html" %}


{% endblock %}
