{% extends "./partials/layout.html" %}

{% block content %}

  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="title">appca.team</h1>
                  <h4 class="description">Mobile apps design & development team<br>with 50 years of experience.</h4>
                  <a href="/contact-us" class="btn btn-primary btn-round btn-lg">Hire Us!</a>
              </div>
          </div>
      </div>
  </div>

  {% include "./partials/_project-highfive.html" %}

  {% include "./partials/_intro.html" %}

  {% include "./partials/_project-bellhop.html" %}

  {% include "./partials/_whatwedo.html" %}

  {% include "./partials/_workwithus.html" %}





{% endblock %}
